/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.kontainer {
    background-image: url(./bilder/image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #F9F8F1;
}

.kontainer .sidhuvud {
    width: 1200px;
    margin: auto;
    font-family: serif;
    font-weight: 450;
    font-style: normal;
    padding-bottom: 30px;
}

.sidhuvud {
    width: 1200px;
    margin: auto;
    font-family: serif;
    font-weight: 450;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;

    /* padding-bottom: 20px; */
    /* border-bottom: 2px solid #dedede; */
}

.sidhuvud .meny {
    padding: 10px;
}

.sidhuvud img {
    padding-top: 20px;

    width: 20%;
}

.sidhuvud a {
    padding-top: 30px;
    text-decoration: none;
    color: white;
}

.innehåll {
    width: 1200px;
    margin: auto;
    font-family: serif;
    font-weight: 450;
    font-style: normal;
    background-color: #F9F8F1;
    padding: 20px;
}

.innehåll h1 {
    text-align: center;
    font-size: xxx-large;
    padding: 10px;
    padding-top: 20px;
}

.innehåll h2 {
    font-weight: 200px;
    text-align: center;
    padding-bottom: 100px;
}

.innehåll p {
    font-weight: 200px;
    font-size: large;
    text-align: center;
    padding: 20px;
}

.innehåll .kolumner-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.innehåll h1 {
    padding-bottom: 20px;
}

.innehåll .kolumner-4 .produkt img {
  height: fit-content;
}

.innehåll .kolumner-4 .produkt h2 {
    background-color: white;
    padding-bottom: 10px;
    font-size: larger;
    border-top: white 5px;
}

.innehåll .kolumner-4 .produkt img.produkterbilder {
    width: 100%;
    padding-top: 30px;
}